*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    background-color:rgb(34, 34, 34);
    padding: 20px 0;
}

header h2 {
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 28px;
}

#product_image {
    float: right;
    margin: 70px 50px 0 0;
    max-width: 350px;
    box-shadow: 9px 9px 25px grey;
    max-height: 390px;
}

.product{
    height: 250px;
    padding-top: 20px;
    width: 60%;
    margin-left: 100px;
    display: inline-block;
    height: 300px;
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.product p {
    line-height: 1.5;
    float: left;
    width: 90%;
    margin-top: 20px;
}

.product-features{
    /* width: 80%; */
    background-color: rgb(34, 34, 34);
    color: white;
    margin: auto;
    border: 1px solid black;
    height: 800px;
    padding: 40px 125px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.product-features p {
    margin-top: 20px;
    line-height: 1.5;
}

.product-features ul {
    margin: 20px 40px 40px 40px;
}

.product-features ul li {
    margin: 10px 0;
}

.applications{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    padding-top: 20px;
    height: 600px;
    /* margin-bottom: 50px; */
}

.applications ul {
    margin: 0 30px;
    margin-top: 20px;
}

.applications p {
    margin: 5px 0 30px 0;
}

footer {
    margin-top: 100px;
    background-color:rgb(34, 34, 34);
    padding: 20px 160px 20px 160px;
}

footer ul {
    display: inline-block;
}

footer li {
    color: white;
    list-style: none;
    padding: 5px 0;
}

footer section {
    float: right;
    color: white;
    padding: 30px 50px 30px 30px;
}

@media screen and (max-width: 360px) {
    .product{
        height: 20px;
        width: 90%;
        margin: auto;
        padding-top: 20px;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .product h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .product p {
        line-height: 1.5;
        width: 100%;
        text-align: left;
        margin: 420px 19px 0 19px;
    }

    #product_image {
        width: 361px;
        margin: 0 4px;
        box-shadow: 9px 9px 25px grey;
        max-height: 390px;
    }


    .product-features{
        width: 100%; 
        margin: auto;
        height: 100%;
        padding: 40px 20px;
        margin-top: 920px;
        margin-bottom: 50px;
    }

    .applications{
        width: 90%;
        margin: auto;
        padding-top: 20px;
        height: 100%;
    }

    footer {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        padding: 20px 20px 84px 20px;
    }
    
    footer section {
        padding: 30px 154px 30px 0px;
    }
}

@media screen and (max-width: 768px) {
    .product{
        height: 20px;
        width: 100%;
        margin: auto;
        padding-top: 20px;
        margin-top: 80px;
        margin-bottom: 40px;
        /* text-align: center; */
    }

    .product h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .product p {
        line-height: 1.5;
        width: 100%;
        padding: 0 50px;
        text-align: center;
        margin-top: 420px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #product_image {
        margin-left: 0;
        margin-right: 200px;
        margin-bottom: 0;
        margin-top: 0;
        /* margin: auto; */
        width: 360px;
        /* margin-right: 100px; */
        box-shadow: 9px 9px 25px grey;
        max-height: 390px;
    }

    .product-features{
        width: 100%; 
        margin: auto;
        height: 100%;
        padding: 40px 20px;
        margin-top: 720px;
        margin-bottom: 50px;
    }

    .applications{
        width: 90%;
        margin: auto;
        padding-top: 20px;
        height: 100%;
    }

    footer {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        padding: 20px 70px 84px;
    }
    
    footer section {
        padding: 30px 0px 30px 0px;
    }
}